---
import BaseHead from '../components/BaseHead.astro';
import CTAMain from '../components/CTAMain.astro';
import Footer from '../components/Footer.astro';
import MainNav from '../components/MainNav.astro';
import ServiceGridHeat from '../components/service page/ServiceGridHeat.astro';
import ServiceCard from '../components/ServiceCard.astro';
import SkipToMain from '../components/SkipToMain.astro';
import TestimonialCardWrap from '../components/TestimonialCardWrap.astro';
---

<html lang="en">
  <head>
    <BaseHead
    title="Heating Services | Sun City Mechanical"
    description="Keep your home warm with our heating services in Buckeye, Peoria, Surprise, Goodyear, Sun City, Sun City West, and nearby areas."
    keywords="heating, HVAC, furnace repair, heating installation, West Valley, Buckeye, Peoria, Surprise, Goodyear, Sun City, Sun City West, Avondale, El Mirage, Arizona"
    image="/path-to-heating-image.jpg"
    url="https://www.suncitymechanical.com/heating"    
    />
    <meta name="author" content="Tripass Design" />
  </head>
  <body>
    <SkipToMain />
    <header>
      <MainNav />
    </header>
		<main id="main-content">
      <section class="hero">
        <div class="hero-global">
          <div class="container">
            <div class="wrapper center">
              <div class="line"></div>
              <h1 class="page-title">Heating</h1>
              <p class="paragraph-center">Keep your home warm and cozy with Sun City Mechanical’s reliable heating services. Whether you need a new installation or a quick repair, our team is here to ensure your home stays comfortable through the coldest months.</p>
            </div>
            <div class="btn-wrapper center">
              <a href="#services" class="btn" aria-label="View heating services">Heating Services</a>
              <a href="/schedule" class="btn-blue" aria-label="Schedule a service">Schedule A Service</a>
            </div>
          </div>
        </section>
        <section id="services">
          <div class="padding-global">
            <div class="container">
              <ServiceGridHeat />
            </div>
          </div>
        </section>
        <section>
            <div class="padding-global">
              <div class="container">
                <div class="column-2">
                  <img src="/images/ssm-team.jpg" alt="Sun City Mechanical team" class="image" />
                  <div class="wrapper">
                      <h2 class="section-title">Have A Question<br><span class="red">Ask A Technician</span></h2>
                    <p class="paragraph">Have a question about your heating system? Our knowledgeable technicians are ready to help. Whether you’re experiencing an issue or just want some advice on keeping your home warm, feel free to reach out. We’re here to provide the answers you need.</p>
                    <div class="btn-wrapper">
                      <a href="/ask-a-tech" class="btn" aria-label="Ask a technician">Ask A Technician</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="padding-global">
            <div class="container">
              <div class="wrapper">
                <h2 class="section-title">Great Service<br><span class="title-section red">For Over 20 Years</span></h2>
                <TestimonialCardWrap />
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="padding-global">
            <div class="container">
              <h2 class="section-title margin-bottom">Other<span class="red"> Services</span></h2>
              <div class="column-2">
                <ServiceCard
                  title="Cooling"
                  description="We offer a variety of air quality services to keep your home comfortable and safe."
                  icon="/images/icons/cooling-icon.svg"
                  link="/cooling" />
                <ServiceCard
                  title="Air Quality"
                  description="Breathe easy with air quality services that help clear the air, giving you fresh, clean air inside your home."
                  icon="/images/icons/air-quality-icon.svg"
                  link="/air-quality" />
              </div>
            </div>
          </div>
        </section>
        <section>
          <CTAMain />
        </section>
      </main>
      <footer class="footer">
        <Footer />
      </footer>
  </body>
</html>
