<div class="page-end">
    <div class="container">
        <div class="cta-wrapper">
        <div class="wrapper center">
            <div class="title-wrapper center">
                <div class="line"></div>
                <h2 class="section-title white">Need HVAC Service?</h2>
            </div>
            <div class="text-large white">Call us today or book a service online.</div>
            <div class="btn-wrapper center">
                <a href="/schedule" class="btn" aria-label="Schedule a service online">Schedule A Service</a>
            </div>
        </div>
        </div>
    </div>
</div>

<style>
    .cta-wrapper {
        background: var(--dark-blue-500);
        padding: 4rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: .75rem;
        box-shadow: var(--box-shadow);
    }

    @media (max-width: 560px) {
        .cta-wrapper {
            padding: 1.5rem;
        }
    }
</style>