---
import '../src/styles/global.css';
import ValueCard from './ValueCard.astro'
---
<div class="service-wrapper">
    <ValueCard 
    value="Integrity" 
    description="We believe in doing the right thing, every time. At Sun City Mechanical, integrity means being honest, transparent, and dependable. You can trust that we’ll deliver on our promises and stand by our work." />
    <ValueCard 
    value="Quality" 
    description="Quality is at the heart of everything we do. From the materials we use to the services we provide, we’re committed to delivering top-notch results that keep your home comfortable and safe." />
    <ValueCard 
    value="Community" 
    description="We’re proud to be part of the West Valley community. Our commitment goes beyond just providing services—we’re dedicated to building lasting relationships and supporting the community that supports us." />
</div>